@media screen and (min-width: 1024px)
    /*, screen and (min-height: 1024px)*/
    /*and (orientation: landscape)*/ {
    * {
        padding: 0;
        margin: 0;
        font-family: 'Noto Sans KR', Dotum, '돋움', Arial, sans-serif;
    }


    #wrap {
        background-color: #F7F5FF;
        z-index: -2;
        padding: 2vh 0 5vh;
    }

    /*내부 메뉴 네비게이션*/
    .tabNav {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 70vw;
        margin: 0 auto;
        text-align: left;
    }

    .tabNav li {
        display: inline-block;
    }

    .tabNav li a {
        text-decoration: none;
        color: #1f1f1f;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: white;
        width: 16vw;
        height: 5vh;
        border-radius: 3vw;
        font-size: 0.9em;

        line-height: 1.2em;
        letter-spacing: -0.03rem;

    }


    .tabNav li img {
        width: 30px;
        height: 30px;
        margin-right: 1.2vw;
    }

    /*마우스 오버*/
    .tabNav li.on a {
        background-color: #3d8af0;
        font-weight: 600;
        color: #fff;
    }

    .tabNav li .icon_on {
        display: none;
    }

    .tabNav .on .icon_off {
        display: none;
    }
    .tabNav .on .icon_on{
        display: flex;
    }




    article {

        margin: 2vw auto;
        background-color: white;
        width: 80vw;
        border-radius: 2vw;
        z-index: -1;
    }

    /*큰제목*/
    article h1 {
        display: block;
        height: auto;
        text-align: center;
        padding: 4vw 0 0;
        font-size: 2.5em;
        color: #1f1f1f;
        font-weight: 600;

    }

    /*작은 제목*/
    article h2 {
        display: block;
        height: auto;
        text-align: center;
        padding: 1vw 0 0;
        font-size: 1.5em;
        color: #1f1f1f;
        font-weight: 600;
        line-height: 1.2;
        margin: 3vw;
    }

    /*테이블*/
    table {
        width: 70vw;
        border-collapse: collapse;
        margin: 0 auto;

    }

    tr th, tr td {
        border: 0.2vw solid #F0F5F8;
        font-size: 0.9em;
        padding: 1vw;
    }

    /*제목 행*/
    tr th {
        border-bottom: 0.2vw solid #6EA7F3;
        padding: 1vh 2vw;
        text-align: center;
        font-weight: bolder;
        border-left: none;
        border-right: none;
    }

    /*1열*/
    tr td:first-child {
        color: #6A87A7;
        text-align: center;
        font-weight: bolder;
        background-color: #F7F8FC;
        border-left: none;
        width: 15vw;
    }

    /*3열*/
    tr td:nth-child(3) {
        border-right: none;
    }

    /*라인*/
    .line {
        border-bottom: 0.05em solid silver;
        width: 70vw;
        margin: 7vw auto;
    }

    /*중간 텍스트*/
    article h3 {
        display: block;
        height: auto;
        text-align: center;
        padding: 1vw 0 0;
        font-size: 1.8em;
        font-weight: normal;
        color: #1f1f1f;
        line-height: 1.4;
        margin: 7vw;

    }

    /*강조 텍스트*/
    .text_blue {
        color: #438FFC;
        font-weight: bolder;

    }

    .test_img {
        width: 70vw;
        margin: 0 auto;
        /*border : 1px solid red;*/
        overflow: hidden;
    }

    .test_img img {
        width: 34vw;
        height: 34vw;
        float: left;
        margin: 5px;
    }

    /*줄바꿈 제거*/
    br.break-m {
        display: none;
    }
    br.break-t {
        display: none;
    }

    /*하단 광고 버튼*/
    .milk_ad ul {
        list-style: none;
        display: flex;
        justify-content: center;
        width: 70vw;
        margin: 3vh auto;
        text-align: left;
    }
    .milk_ad ul li a {
        text-decoration: none;
        color: black;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1vw 3vh;

        width: 25vw;
        height: 9vh;
        border-radius: 20px;

        font-size: 1.5em;

    }
    .color_b {
        background-color: #AAD0F7;
    }
    .color_g {
        background-color: #97DED6;
    }
}


@media screen and (min-width: 768px)
and (max-width: 1023px)
    /*, screen and (min-height: 768px) and (max-height: 1023px)*/
    /*and (orientation: landscape)*/ {
    * {
        padding: 0;
        margin: 0;
        font-family: 'Noto Sans KR', Dotum, '돋움', Arial, sans-serif;
    }


    #wrap {
        background-color: #F7F5FF;
        z-index: -2;
        padding: 2vh 0 5vh;
    }

    /*내부 메뉴 네비게이션*/
    .tabNav {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 70vw;
        margin: 0 auto;
        text-align: left;
    }

    .tabNav li {
        display: inline-block;
    }

    .tabNav li a {
        text-decoration: none;
        color: #1f1f1f;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: white;
        width: 17vw;
        height: 5vh;
        border-radius: 4vw;

        font-size: 0.9em;

        line-height: 1em;
        letter-spacing: -0.05rem;
    }

    .tabNav li .hover-on a {
        background-color: #3d8af0;
        font-weight: 600;
        color: #fff;
    }

    .tabNav li img {
        width: 25px;
        height: 25px;
        margin-right: 1.2vw;
    }

    /*마우스 오버*/
    .tabNav li.on a {
        background-color: #3d8af0;
        font-weight: 600;
        color: #fff;
    }

    .tabNav li .icon_on {
        display: none;
    }

    .tabNav .on .icon_off {
        display: none;
    }
    .tabNav .on .icon_on{
        display: flex;
    }



    article {

        margin: 2vw auto;
        background-color: white;
        width: 80vw;
        border-radius: 2vw;
        z-index: -1;
    }

    /*큰제목*/
    article h1 {
        display: block;
        height: auto;
        text-align: center;
        padding: 4vw 0 0;
        font-size: 2em;
        color: #1f1f1f;
        font-weight: 600;

    }

    /*작은 제목*/
    article h2 {
        display: block;
        height: auto;
        text-align: center;
        padding: 1vw 0 0;
        font-size: 1.5em;
        color: #1f1f1f;
        font-weight: 600;
        line-height: 1.2;
        margin: 3vw 1vh;
    }

    /*테이블*/
    table {
        width: 70vw;
        border-collapse: collapse;
        margin: 5vw auto;
    }

    tr th, tr td {
        border: 0.2vw solid #F0F5F8;
        font-size: 0.9em;
        padding: 1vw;
    }

    /*제목 행*/
    tr th {
        border-bottom: 0.2vw solid #6EA7F3;
        padding: 1vh 2vw;
        text-align: center;
        font-weight: bolder;
        border-left: none;
        border-right: none;
    }

    /*1열*/
    tr td:first-child {
        color: #6A87A7;
        text-align: center;
        font-weight: bolder;
        background-color: #F7F8FC;
        border-left: none;
        width: 15vw;
    }

    /*3열*/
    tr td:nth-child(3) {
        border-right: none;
    }

    /*라인*/
    .line {
        border-bottom: 0.05em solid silver;
        width: 70vw;
        margin: 7vw auto;
    }

    /*중간 텍스트*/
    article h3 {
        display: block;
        height: auto;
        text-align: center;
        padding: 1vw 0 0;
        font-size: 1.8em;
        font-weight: normal;
        color: #1f1f1f;
        line-height: 1.4;
        margin: 7vw;

    }

    /*강조 텍스트*/
    .text_blue {
        color: #438FFC;
        font-weight: bolder;
    }

    /*설명 이미지*/
    .test_img {
        width: 70vw;
        margin: 0 auto;
        /*border: 1px solid red;*/
        overflow: hidden;
    }

    .test_img img {
        width: 34vw;
        height: 34vw;
        float: left;
        margin: 3px;
    }

    /*줄바꿈 제거*/
    br.break-m {
        display: none;
    }
    /*하단 광고 버튼*/
    .milk_ad ul {
        list-style: none;
        display: flex;
        justify-content: center;
        width: 70vw;
        margin: 3vh auto;
        text-align: left;
    }
    .milk_ad ul li a {
        text-decoration: none;
        color: black;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1vw 3vh;

        width: 25vw;
        height: 9vh;
        border-radius: 20px;

        font-size: 1.5em;

    }
    .color_b {
        background-color: #AAD0F7;
    }
    .color_g {
        background-color: #97DED6;
    }

}


@media screen and (max-width: 767px)
    /*, screen and (max-height: 479px) and (orientation: landscape)*/ {

    * {
        padding: 0;
        margin: 0;
        font-family: 'Noto Sans KR', Dotum, '돋움', Arial, sans-serif;
    }



    #wrap {
        background-color: #F7F5FF;
        z-index: -2;
        padding: 2vh 0 5vh;
    }

    /*내부 메뉴 네비게이션*/
    .tabNav {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        width: 75vw;
        margin: 0 auto;
        text-align: left;
    }

    .tabNav li {
        flex-basis: 50%;
        box-sizing: border-box;
        margin: 1vh auto;
    }

    .tabNav li a {
        text-decoration: none;
        color: #1f1f1f;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: white;
        width: 35vw;
        height: 5vh;
        border-radius: 4vw;

        font-size: 0.9em;

        line-height: 1.2em;
        letter-spacing: -0.03rem;
    }

    .tabNav li.on a {
        background-color: #3d8af0;
        font-weight: 600;
        color: #fff;
    }

    .tabNav li a img {
        width: 25px;
        height: 25px;
        margin-right: 1.7vw;
    }

    .tabNav li .icon_on {
        display: none;
    }

    .tabNav .on .icon_on {
        display: flex;
    }

    .tabNav .on .icon_off {
        display: none;
    }



    article {

        margin: 2vw auto;
        background-color: white;
        width: 80vw;
        border-radius: 2vw;
        z-index: -1;
    }

    /*큰제목*/
    article h1 {
        display: block;
        height: auto;
        text-align: center;
        padding: 4vw 0 0;
        font-size: 2em;
        color: #1f1f1f;
        font-weight: 600;

    }

    /*작은 제목*/
    article h2 {
        display: block;
        height: auto;
        text-align: center;
        padding: 1vw 0 0;
        font-size: 1.5em;
        color: #1f1f1f;
        font-weight: 600;
        line-height: 1.2;
        margin: 3vw 1vh;
    }

    /*테이블*/
    table {
        width: 70vw;
        border-collapse: collapse;
        margin: 5vw auto;
    }

    tr th, tr td {
        border: 0.2vw solid #F0F5F8;
        font-size: 0.9em;
        padding: 1vw;
    }

    /*제목 행*/
    tr th {
        border-bottom: 0.2vw solid #6EA7F3;
        padding: 1vh 2vw;
        text-align: center;
        font-weight: bolder;
        border-left: none;
        border-right: none;
    }

    /*1열*/
    tr td:first-child {
        color: #6A87A7;
        text-align: center;
        font-weight: bolder;
        background-color: #F7F8FC;
        border-left: none;
        width: 15vw;
    }

    /*3열 숨김*/
    tr td:nth-child(3), tr th:nth-child(3) {
        display: none;
    }

    /*라인*/
    .line {
        border-bottom: 0.05em solid silver;
        width: 70vw;
        margin: 7vw auto;
    }

    /*중간 텍스트*/
    article h3 {
        display: block;
        height: auto;
        text-align: center;
        padding: 1vw 0 0;
        font-size: 1.8em;
        font-weight: normal;
        color: #1f1f1f;
        line-height: 1.4;
        margin: 7vw;

    }

    /*강조 텍스트*/
    .text_blue {
        color: #438FFC;
        font-weight: bolder;
    }

    /*설명 이미지*/
    .test_img {
        width: 70vw;
        margin: 0 auto;
        /*border: 1px solid red;*/
        overflow: hidden;
    }

    .test_img img {
        width: 70vw;
        height: 70vw;
        margin: 2px 0;
    }

    /*줄바꿈 제거*/
    br.break-t {
        display: none;
    }

    /*하단 광고 버튼*/
    .milk_ad{
        padding: 0 0 3vh;
    }
    .milk_ad ul {
        list-style: none;
        width: 70vw;
        margin: auto;

    }
    .milk_ad ul li a {
        text-decoration: none;
        color: black;
        font-weight: bolder;
        display: block;
        line-height: 8vh;
        text-align: center;
        margin: 2vh auto;

        width: 50vw;
        height: 9vh;
        border-radius: 20px;

        font-size: 1.5em;
    }
    .color_b {
        background-color: #AAD0F7;
    }
    .color_g {
        background-color: #97DED6;
    }

}



