body {
    margin: 0;
    padding: 0;
    z-index: 3;
}

a {
    text-decoration: none;
    color: #191919;
}

ul li {
    list-style: none;
}

.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    height: 7vh;
    border-bottom: 2px solid silver;
    z-index: 9999;
    background-color: white;
}
.navbar_menu {
    display: flex;
    padding: 0 25px;
    font-size: 1.2rem;
    position: relative;
}

.navbar_menu .menu_li a {
    padding: 26px 20px;
    position: relative;
    left: -10px;
}

.menu_li a:hover {
    color: lightskyblue;
    border-bottom: 3px solid blue;
}

.inner_school,
.inner_level {
    display: none;
}

.inner_school.show,
.inner_level.show {
    display: block;
}

.navbar_menu .menu_li .inner_school {
    position: absolute;
    padding: 20px 0 20px 20px;
    top: 50px;
    left: 75px;
    text-align: center;
    z-index: 100;
    background-color: #ffffff;

}

.navbar_menu .menu_li .inner_level {
    position: absolute;
    width: 25%;
    padding: 20px 0 20px 20px;
    top: 50px;
    left: 220px;
    text-align: center;
    z-index: 100;
    background-color: #ffffff;
}

.menu_li li a {
    position: relative;
    display: block;
    padding: 10px 6px;
}

.menu_li li a:hover {
    color: lightskyblue;
}


.navbar_menu li:hover ul {
    display: block;
}

.navbar .menu_li ul a:hover,
.navbar .menu_li ul li:hover a {
    border: 0;
    text-decoration: none;
}

.navbar_icon {
    display: flex;
    padding-left: 0;
}

.navbar_icon li {
    padding: 0 24px;
}

.navbar_toggleBtn {
    display: none;
    position: absolute;
    top: 30px;
    right: 60px;
}

@media screen and (max-width: 767px) {
    ul li{
        list-style: none;
    }
    ul li a{
        text-decoration: none;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
        z-index: 999;
        background-color: #ffffff;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: 10px;
        left: -40px;
        z-index: 999;
        background-color: #ffffff;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
        padding: 21px;
        border-bottom: 1px solid silver;
        text-decoration: none;
    }


    .navbar_icon {
        display: none;
        justify-items: center;
        width: 100%;
        padding-left: 30%;
    }

    .navbar_toggleBtn {
        position: absolute;
        display: block;
    }

    .navbar_menu.active,
    .navbar_icon.active {
        display: flex;
    }

    .navbar_menu ul li {
        display: none;

    }

    .navbar_menu a{
        color:#191919
    }
    .navbar_menu a:hover {
        border: none;
    }
}