@media all and (min-width:1200px) {
    .section04 input[id*="slide"] {
        display: none;
    }

    .section04 .slidewrap {
        max-width: 1200px;
        margin: 0 auto;
    }

    .section04 .slidelist {
        white-space: nowrap;
        overflow: hidden;
        position: relative;
    }

    .section04 .slidelist > li {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        transition: all .5s;
    }

    .section04 .slidelist > li > a {
        display: block;
        position: relative;
    }

    .section04 .slidelist label {
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        padding: 50px;
        cursor: pointer;
    }

    .article04 {
        display: flex;
        align-items: flex-end;
        overflow: hidden;
    }

    .box h6, .box h2 {
        position: relative;
        top: 360px;
    }

    .box h6 {
        font-size: 2rem;
    }

    .box h2 {
        font-size: 6rem;
        color: #C8D3EA;
    }

    .sec4_box {
        padding: 5vh 10vw;
        background-color: #f6f6f6;
        display: flex;
        justify-content: center;
    }

    article img {
        position: relative;
        right: 565px;
        z-index: 1;
    }

    .sec4_box li {
        margin: 30px;
        z-index: 2;
    }

    .sec4_box .small_box h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 26px;
        left: 30px;
        z-index: 1;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
        background-color: #ffffff;
        width: 150px;
        height: 54px;
        border-radius: 50px;
        font-size: 14px;
    }

    .sec4_box .small_box h4 {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #f6f3fe;
        width: 210px;
        height: 225px;
    }

    .box_2 h2{
        color: #FFBE98;
    }
    .box_2 .small_box h4 {
        background-color: rgba(254, 236, 226, 1);
    }

    .box_3 h2{
        color: #F6D776;
    }
    .box_3 .small_box h4 {
        background-color: #FAEF9B;
    }

    .box_4 h2{
        color: #294B29;
    }
    .box_4 .small_box h4 {
        background-color: rgba(219, 231, 201, 1);
    }

    /* input에 체크되면 슬라이드 효과 */
    .section04 input[id="slide01"]:checked ~ .slidewrap .slidelist > li {
        transform: translateX(0%);
    }

    .section04 input[id="slide02"]:checked ~ .slidewrap .slidelist > li {
        transform: translateX(-100%);
    }

    .section04 input[id="slide03"]:checked ~ .slidewrap .slidelist > li {
        transform: translateX(-200%);
    }

    .section04 input[id="slide04"]:checked ~ .slidewrap .slidelist > li {
        transform: translateX(-300%);
    }


    /* 페이징 */
    .slide-pagelist {
        text-align: center;
        padding: 20px;
    }

    .slide-pagelist > li {
        display: inline-block;
        vertical-align: middle;
    }

    .slide-pagelist > li > label {
        display: block;
        padding: 8px 30px;
        border-radius: 30px;
        background: #ccc;
        margin: 20px 10px;
        cursor: pointer;
    }

    .section04 .box {
        animation: slider 9s infinite linear;
    }

    @keyframes slider {
        0% {
            transform: translateX(0);
        }
        23% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(-100%);
        }
        48% {
            transform: translateX(-100%);
        }
        50% {
            transform: translateX(-200%);
        }
        73% {
            transform: translateX(-200%);
        }
        75% {
            transform: translateX(-300%);
        }
        98% {
            transform: translateX(-300%);
        }
        100% {
            transform: translateX(0);
        }
    }
}

@media all and (min-width:768px) and (max-width:1199px) {
    .section04 input[id*="slide"] {
        display: none;
    }

    .section04 .slidewrap {
        max-width: 1200px;
        margin: 0 auto;
    }

    .section04 .slidelist {
        white-space: nowrap;
        overflow: hidden;
        position: relative;
    }

    .section04 .slidelist > li {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        transition: all .5s;
    }

    .section04 .slidelist > li > a {
        display: block;
        position: relative;

    }

    .section04 .slidelist label {
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        padding: 50px;
        cursor: pointer;
    }

    .section04 {
        max-width : 100%;
        margin : 0 auto;
        overflow: hidden;
    }
    .article04 {
        margin-bottom: -300px;
    }
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        overflow: hidden;
    }
    .box h6 {
        font-size: 2rem;
    }
    .box h2{
        font-size : 6rem;
        color : #C8D3EA;
        line-height: 1;
        margin-bottom: 40px;
    }

    .sec4_box {
        padding: 5vh 10vw;
        background-color: #f6f6f6;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    article img {
        position : relative;
        width: 380px;
        bottom: 391px;
        left: 85%;
    }

    .sec4_box li {
        margin : 0 auto;
    }

    .sec4_box .small_box h3 {
        display : flex;
        align-items : center;
        justify-content : center;
        position : relative;
        top : 26px;
        left : 13vw;
        box-shadow : 2px 2px 2px rgba(0, 0, 0, 0.15);
        background-color : #ffffff;
        width : 25vw;
        height : 54px;
        border-radius : 50px;
        font-size : 1.4rem;
        font-weight: 500;
        z-index: 2;
    }

    .sec4_box .small_box h4{
        text-align : center;
        display : flex;
        align-items : center;
        justify-content : center;
        position : relative;
        background-color : #f6f3fe;
        width : 50vw;
        height : 225px;
        font-size: 1.5rem;
        font-weight: 400;
        z-index: 1;
    }

    .box_2 {
        background-color: rgba(254, 236, 226, 0.5);
    }
    .box_2 h2{
        color: #FFBE98;
    }
    .box_2 .small_box h4 {
        background-color: rgba(254, 236, 226, 1);
    }

    .box_3 h2{
        color: #F6D776;
    }
    .box_3 .small_box h4 {
        background-color: #FAEF9B;
    }

    .box_4 {
        background-color: rgba(219, 231, 201, 0.5);
    }
    .box_4 h2{
        color: #294B29;
    }
    .box_4 .small_box h4 {
        background-color: rgba(219, 231, 201, 1);
    }
    /* input에 체크되면 슬라이드 효과 */
    .section04 input[id="slide01"]:checked ~ .slidewrap .slidelist > li {
        transform: translateX(0%);
    }

    .section04 input[id="slide02"]:checked ~ .slidewrap .slidelist > li {
        transform: translateX(-100%);
    }

    .section04 input[id="slide03"]:checked ~ .slidewrap .slidelist > li {
        transform: translateX(-200%);
    }

    .section04 input[id="slide04"]:checked ~ .slidewrap .slidelist > li {
        transform: translateX(-300%);
    }


    /* 페이징 */
    .slide-pagelist {
        text-align: center;
        padding: 20px;
    }

    .slide-pagelist > li {
        display: inline-block;
        vertical-align: middle;
    }

    .slide-pagelist > li > label {
        display: block;
        padding: 8px 30px;
        border-radius: 30px;
        background: #ccc;
        margin: 20px 10px;
        cursor: pointer;
    }

    .section04 input[id="slide01"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(1) > label {
        background: #999;
    }

    .section04 input[id="slide02"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(2) > label {
        background: #999;
    }

    .section04 input[id="slide03"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(3) > label {
        background: #999;
    }

    .section04 input[id="slide04"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(4) > label {
        background: #999;
    }

    .star {
        display: block;
    }
}

@media all and (max-width: 767px) {
    /* section 04 */
    .section04 {
        margin: 30px 0;
    }
    .box {
        overflow: hidden;
    }

    .box h6 {
        font-weight: bolder;
        font-size: 1.5rem;
        text-align: center;
    }
    .box h2 {
        font-weight: 900;
        font-size: 4rem;
        text-align: center;
        color: #C8D3EA;
    }

    .article04 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }

    .sec4_box {
        background-color: #fff;
    }

    /* 박스 부분 */
    .small_box h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        position: relative;
        top: 20px;
        left: 10vw;
        width : 40vw;
        height : 40px;
        background-color: #ffffff;
        border-radius: 50px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);

    }
    .small_box h4{
        font-size: 1.2rem;
        font-weight: 400;
        display: flex;
        text-align : center;
        align-items : center;
        justify-content : center;
        background-color: #F8F3FE;
        width: 60vw;
        height: 20vh;
        box-shadow: 0 7px 29px rgba(0, 0, 0, 0.20%);
    }

    /* 1, 2학년 */
    .box_2 {
        background-color: rgba(254, 236, 226, 50%);
        padding: 30px 0 10px;
    }
    .box_2 h2{
        color: #FFBE98;
    }
    .box_2 .sec4_box {
        background-color: #fff;
        padding : 0 50px 30px;
    }
    .box_2 .sec4_box .small_box h4 {
        background-color: #FEECE2;
    }

    /* 3, 4학년 */
    .box_3 {
        padding: 30px 0 10px;
    }
    .box_3 h2{
        color: #F6d776;
    }
    .box_3 .sec4_box {
        background-color: #fff;
        padding : 0 50px 30px;
    }
    .box_3 .sec4_box .small_box h4 {
        background-color: #faef9b;
    }

    /* 5, 6학년 */
    .box_4 {
        background-color: rgba(219, 231, 201, 50%);
        padding: 30px 0 10px;
    }
    .box_4 h2{
        color: #294b28;
    }
    .box_4 .sec4_box {
        background-color: #fff;
        padding : 0 50px 20px;
    }
    .box_4 .sec4_box .small_box h4 {
        background-color: #dbe7c9;
    }
}


